-- Migration SQL
ALTER TABLE usuario DROP COLUMN \
password\;
ALTER TABLE usuario ADD COLUMN password VARCHAR;
UPDATE usuario SET password = (
  SELECT contrase FROM (
    SELECT id_usuario, CAST(\contrase??a\ as VARCHAR) as contrase
    FROM usuario
  ) as subq
  WHERE subq.id_usuario = usuario.id_usuario
);

